<div class="form">
    <div class="form__box">
        <div class="form__title">
            <h3>Sign In</h3>
        </div>
        <form class="form__form">
            <div class="form__fields">
                <div class="form__field">
                    <label for="username" class="form__label">Username</label>
                    <input class="form__input input" type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="form__field">
                    <label for="password" class="form__label">Password</label>
                    <input class="form__input input" type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="form__buttons">
                    <button class="form__button button button-hover_dark-blue" type="submit">Sign In</button>
                </div>
            </div> <!-- ./Form fields -->
        </form>
    </div> <!-- ./Form box -->
</div>