header.header
    div(class="header__contaienr container")
        .header__logo
            a(href="#") Site logo
        nav(class="header__menu menu")
            ul(class="header__menu-list menu__list")
                li.menu__item 
                li.menu__item 
                li.menu__item 
                li.menu__item 
                li.menu__item 
                li.menu__item 