<div class="cards">
    <div class="cards__container container">
        <div class="card">
            <a href="#">
                <picture class="card__picture">
                    <img class="card__picture-picture" src="https://images.pexels.com/photos/33045/lion-wild-africa-african.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Lion">
                </picture>
            </a>
            <div class="card__content">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti minima inventore autem amet error sunt, deleniti necessitatibus, delectus magni optio tenetur eveniet hic commodi illo mol...</p>
                <div class="card__buttons">
                    <button class="card__button button button-hover_dark-blue">Read</button>
                </div>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <picture class="card__picture">
                    <img class="card__picture-picture" src="https://images.pexels.com/photos/33045/lion-wild-africa-african.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Lion">
                </picture>
            </a>
            <div class="card__content">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti minima inventore autem amet error sunt, deleniti necessitatibus, delectus magni optio tenetur eveniet hic commodi illo mol...</p>
                <div class="card__buttons">
                    <button class="card__button button button-hover_dark-blue">Read</button>
                </div>
            </div>
        </div>
        <div class="card">
            <a href="#">
                <picture class="card__picture">
                    <img class="card__picture-picture" src="https://images.pexels.com/photos/33045/lion-wild-africa-african.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Lion">
                </picture>
            </a>
            <div class="card__content">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti minima inventore autem amet error sunt, deleniti necessitatibus, delectus magni optio tenetur eveniet hic commodi illo mol...</p>
                <div class="card__buttons">
                    <button class="card__button button button-hover_dark-blue">Read</button>
                </div>
            </div>
        </div>
    </div>
</div>